@import "~bootstrap/scss/bootstrap";

html,
body {
  height: 100%;
  width: 100%;
  font-size: 14px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root {
  height: 100%;
  width: 100%;
}
